// GENERAL STYLES-----------------------------------------------//

html {
	font-size: 62.5%;
	scroll-behavior: smooth;
}

body {
	font-size: 1.6rem;
	color: $black;
}

// skiplink to jump past header
a.skipLink {
	position: absolute;
	top: -1000px;
	left: -1000px;
	height: 1px;
	width: 1px;
	text-align: left;
	overflow: hidden;
}

a.skipLink:active,
a.skipLink:focus {
	left: 0;
	top: 0;
	width: auto;
	height: auto;
	overflow: visible;
	text-decoration: none;
	font-weight: 400;
	color: #fff;
	background: #6f6f6f;
	padding: 5px;
}

a:focus,
a:hover {
	box-shadow: 4px 4px 0px $orange;
}

.wrapper {
	width: 90%;
	max-width: 1200px;
	margin: 0 auto;
}

img {
	max-width: 100%;
	height: auto;
	display: block;
}

// FONT STYLING-----------------------------------------------//

h1,
h2,
h3,
h4,
nav,
span,
label,
.button {
	font-family: $headingfont;
	text-transform: uppercase;
	font-weight: 500;
}

p,
ul,
input,
textarea {
	font-family: $bodyfont;
	font-weight: 400;
}

h1 {
	font-size: 5rem;
	font-weight: 500;
	padding-bottom: 15px;
}

h2 {
	font-size: 3rem;
	padding-bottom: 20px;
}

h3 {
	font-size: 2.6rem;
	letter-spacing: 3px;
	color: $midBlue;
	font-weight: 400;
	padding-bottom: 20px;
	text-shadow: 0px 1px 1px $orange;
}

h4 {
	font-size: 2.3rem;
	margin-bottom: 15px;
}

ul,
p {
	font-size: 1.8rem;
	line-height: 1.6;
}

a {
	text-decoration: none;
	color: inherit;
	transition: 0.4s;
}

.bar {
	font-family: 'Rambla', sans-serif;
	color: $orange;
}

.button {
	background-color: $black;
	color: $white;
	text-transform: uppercase;
	padding: 5px 20px;
	border-radius: 3px;
}

section {
	padding: 100px 0;
}

section:nth-child(2n) {
	background-color: $lightGrey;
}
