// GENERAL STYLES-----------------------------------------------//

html {
	font-size: 62.5%;
	scroll-behavior: smooth;
}

body {
	font-size: 1.6rem;
	color: $black;
}

// skiplink to jump past header
a.skipLink {
	position: absolute;
	top: -1000px;
	left: -1000px;
	height: 1px;
	width: 1px;
	text-align: left;
	overflow: hidden;
}

a.skipLink:active,
a.skipLink:focus {
	left: 0;
	top: 0;
	width: auto;
	height: auto;
	overflow: visible;
	text-decoration: none;
	font-weight: 400;
	color: #fff;
	background: #6f6f6f;
	padding: 5px;
}

.wrapper {
	width: 90%;
	max-width: 1200px;
	margin: 0 auto;
}

img {
	max-width: 100%;
	height: auto;
	display: block;
}

// FONT STYLING-----------------------------------------------//

h1,
h2,
h3,
nav,
span,
.button {
	font-family: $headingfont;
	text-transform: uppercase;
	font-weight: 500;
}

h4,
p,
ul {
	font-family: $bodyfont;
	font-weight: 400;
}

h1 {
	font-size: 5rem;
	font-weight: 500;
	padding-bottom: 15px;
}

h2 {
	font-size: 3rem;
	padding-bottom: 20px;
}

h3 {
	font-size: 2rem;
	letter-spacing: 3px;
	color: $lightBlue;
	font-weight: 400;
	padding-bottom: 20px;
}

ul,
p {
	font-size: 1.6rem;
	line-height: 1.5;
}

.intro {
	font-size: 2rem;
	font-weight: 700;
	padding-bottom: 10px;
}

a {
	text-decoration: none;
	color: inherit;
}

a:hover {
	filter: brightness(75%);
}

.button {
	width: 50px;
	background-color: $black;
	color: $white;
	text-transform: uppercase;
	padding: 5px 15px;
	border-radius: 3px;
}

section {
	padding: 70px 0;
}
