// HEADER STYLES-----------------------------------------------//

header {
	background-color: $lightBlue;
	height: 100vh;
	min-height: 600px;
	span {
		font-size: 3rem;
		font-weight: 500;
	}
	h1 {
		padding: bottom;
	}
	p {
		font-size: 2.5rem;
	}
}

.navBar {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 10px 0;
	p {
		font-size: clamp(1.6rem, 1.6vw, 2rem);
	}
}

// NAV BAR STYLES-----------------------------------------------//
.hamburger,
.hamburgerExit {
	display: none;
	font-size: 3rem;
	background-color: inherit;
	border: 0;
}

nav {
	ul {
		display: flex;
		li {
			padding: 10px 15px;
		}
	}
}

.hamburgerExit {
	position: relative;
	top: 30px;
	right: 30px;
	// left: 30px;
	// left: 90vw;
}

.show.menu {
	display: block;
}

.sticky {
	position: fixed;
	top: 0;
	z-index: 10;
	width: 100%;
	background-color: $white;
	box-shadow: 0px 0px 2px $darkBlue;
}

.menu {
	display: flex;
}

// HEADER TEXT-----------------------------------------------//
.headerTextContainer {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 100%;
}

.imageContainer {
	height: 250px;
	width: 250px;
	margin-bottom: 25px;
	img {
		border-radius: 50%;
		border: 10px solid $midBlue;
	}
}

.typewriterText {
	display: inline;
	text-transform: lowercase;
	padding-bottom: 60px;
}

/* The typing effect */
@keyframes typing {
	from {
		width: 0;
	}
	to {
		width: 100%;
	}
}

.isVisible {
	overflow: hidden; /* Ensures the content is not revealed until the animation */
	border-right: 0.15em solid orange; /* The typwriter cursor */
	white-space: nowrap; /* Keeps the content on a single line */
	margin: 0 auto; /* Gives that scrolling effect as the typing happens */
	animation: typing 2.5s steps(30, end), blink-caret 0.75s step-end infinite;
}

.isHidden {
	display: none;
}

.scrollChevron {
	text-align: center;
	font-size: 4rem;
	padding-bottom: 30px;
}

// ABOUT SECTION-----------------------------------------------//

.about {
	// padding: 70px 0;
	height: auto;
}

.aboutImageContainer {
	display: grid;
	grid-template-columns: 1fr 2fr;
	gap: 20px;
	transition: ease-all 0.5s;
}

.illustration {
	padding-right: 20px;
}

.summary {
	padding-top: 10px;
}

// SKILLS SECTION-----------------------------------------------//

.skillsBg {
	background-color: $lightGrey;
	// padding: 70px 0;
}

.skills {
	display: grid;
	grid-template-columns: 2fr 1fr;
	gap: 50px;
	ul {
		list-style-type: square;
	}
	// ul {
	// 	display: grid;
	// 	grid-template-columns: repeat(5, 1fr);
	// 	gap: 15px;
	// 	width: 100%;
	// 	flex-wrap: wrap;
	// 	li {
	// 		padding-bottom: 15px;
	// 	}
	// }
}

// PORTFOLIO SECTION-----------------------------------------------//

.portfolio {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 25px;
}
