// HEADER STYLES-----------------------------------------------//

header {
	background-color: $lightBlue;
	height: 100vh;
	min-height: 600px;
	span {
		font-size: 3rem;
		font-weight: 500;
	}
	h1 {
		padding: bottom;
	}
	p {
		font-size: 2.5rem;
	}
	a {
		padding-bottom: 5px;
	}
	a:focus,
	a:hover {
		box-shadow: none;
		border-bottom: 3px solid $orange;
	}
}

.navBar {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 10px 0;
}

// NAV BAR STYLES-----------------------------------------------//

.hamburger,
.hamburgerExit {
	display: none;
	font-size: 3rem;
	background-color: inherit;
	border: 0;
}

.display {
	display: block;
}

nav {
	ul {
		display: flex;
		li {
			padding: 5px 15px;
		}
	}
}

.hamburgerExit {
	top: 10px;
	background: transparent;
}

.sticky {
	position: fixed;
	top: 0;
	z-index: 999;
	width: 100%;
	background-color: $white;
	box-shadow: 0px 0px 2px $darkBlue;
}

.sticky + .headerTextContainer {
	margin-top: 60px;
}

.menu {
	display: flex;
}

.show.menu {
	display: block;
}

// HEADER TEXT-----------------------------------------------//
.headerTextContainer {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 100%;
}

.imageContainer {
	height: 250px;
	width: 250px;
	margin-bottom: 25px;

	img {
		border: 10px solid $midBlue;
		border-radius: 50%;
	}
}

.typewriterText {
	display: inline;
	padding-bottom: 100px;
	text-transform: lowercase;
}

/* The typing effect */
@keyframes typing {
	from {
		width: 0;
	}
	to {
		width: 100%;
	}
}

.typing {
	overflow: hidden; /* Ensures the content is not revealed until the animation */
	white-space: nowrap; /* Keeps the content on a single line */
	margin: 0 auto; /* Gives that scrolling effect as the typing happens */
	animation: typing 2s steps(30, end);
}

.isHidden {
	display: none;
}

.typewriter {
	display: inline;
	text-transform: lowercase;
	padding-bottom: 100px;
}

.scrollChevron {
	text-align: center;
	font-size: 4rem;
	--animate-duration: 3s;
}

// ABOUT SECTION-----------------------------------------------//

.aboutImageContainer {
	display: grid;
	grid-template-columns: 1fr 2fr;
	gap: 30px;
}

.summary {
	padding-top: 10px;

	div {
		margin-bottom: 20px;
	}
}

.aboutButtons {
	display: flex;

	li:first-child {
		margin-right: 10px;
	}
}

.highlight {
	background: linear-gradient(to top, $orange 50%, transparent 50%);
	font-weight: 700;
	padding-bottom: 0;
}

// SKILLS SECTION-----------------------------------------------//

.skillsBg {
	background-color: $lightGrey;
}

.skills {
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 40px 90px;

	.otherSkills {
		list-style-type: square;
	}
}

.tools {
	grid-column: 1/4;
}

.skillIcons {
	display: grid;
	grid-template-columns: repeat(8, 1fr);
	gap: 20px 50px;
	color: $black;
	font-size: clamp(4rem, 5vw, 5rem);
	margin-top: 20px;

	i {
		text-shadow: 0px 1px 1px $orange;
	}
}

// PORTFOLIO SECTION-----------------------------------------------//

.portfolio {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	column-gap: 25px;
	row-gap: 15px;

	img {
		border: 2px solid $lightBlue;
	}
}

.portfolioItemContainer {
	display: flex;
	flex-direction: column;
}

.portfolioItem {
	position: relative;
	height: 100%;
}

.overlay {
	display: flex;
	flex-direction: column;

	position: absolute;
	bottom: 100%;
	left: 0;
	right: 0;
	align-items: center;

	background-color: $midBlue;
	height: 0%;
	width: 100%;

	overflow: hidden;
	transition: 0.3s ease;
}

body.hasHover .portfolioItem:hover .overlay {
	bottom: 0;
	height: 100%;
}

.portfolioInformation {
	position: absolute;
	top: 30%;
	margin: 0 auto;
	color: $white;
	padding: 20px;
	text-align: center;

	div {
		margin-bottom: 30px;
	}

	p {
		font-size: 1.9rem;
	}
}

.portfolioDetailsText {
	margin: 20px 0px 30px 0px;

	h3 {
		padding: 5px 0px 10px;
	}

	div {
		margin-bottom: 15px;
	}

	p:nth-child(2n) {
		font-weight: 700;
		font-size: 2rem;
	}

	p:nth-child(3n) {
		padding-bottom: 15px;
	}

	p > a:hover,
	p > a:focus {
		box-shadow: none;
		border-bottom: 3px solid $orange;
	}
}

// CONTACT SECTION-----------------------------------------------//

.textSocialsContainer {
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
}

.textContainer {
	width: 55%;
}

.contactText {
	p:nth-child(2) {
		margin-bottom: 20px;
	}
}

.helloContainer {
	display: flex;
	align-items: center;
	margin-top: 20px;
	img {
		width: 100px;
		position: relative;
		top: -15px;
		left: -10px;
		transform: rotate(5deg);
	}
	highlight {
		margin: 0;
	}
}

.textContainer {
	padding-right: 15px;
	p:nth-child(2n) {
		margin-bottom: 15px;
	}
}

form {
	width: 45%;
	display: flex;
	flex-direction: column;

	input,
	textarea {
		border: 1px solid $lightBlue;
		padding: 5px;
	}

	label {
		font-size: 1.9rem;
		margin: 15px 0 5px;
	}

	label:first-child {
		margin-top: 0;
	}

	.button {
		margin-top: 15px;
		width: 125px;
		border: 0px;
	}

	textarea {
		resize: none;
	}
}

// FOOTER SECTION-----------------------------------------------//

footer {
	background-color: $midBlue;
	color: $white;
	padding: 20px 0;

	h2 {
		padding: 0;
	}
}

.footerContainer {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.socials {
	display: flex;
	justify-content: space-between;
	width: 30%;
}
