// MEDIA QUERY 768PX-----------------------------------------------//
@media (max-width: 768px) {
	section {
		padding: 70px 0;
	}

	.menu {
		display: none;
	}

	.menu .menuScreen {
		position: fixed;
		top: 0;
		left: 60vw;
		right: 0;
		height: auto;
		background: $darkBlue;
		color: $white;
		z-index: 10;
		display: flex;
		flex-direction: column;
	}

	// displaying hamburger menu and hiding navigation bar in dropdown
	.hamburger,
	.hamburgerExit {
		display: block;
		text-align: right;
	}

	.hamburgerExit {
		color: $white;
		position: relative;
		right: 5vw;
		margin-bottom: 10px;
	}

	.menuScreen {
		height: auto;
	}

	.menuScreen ul {
		display: flex;
		flex-direction: column;
	}

	.menu ul li:hover {
		background-color: $midBlue;
	}

	.menu {
		a {
			display: block;
			font-size: 20px;
			width: 100%;
		}
	}

	.aboutImageContainer {
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	// SKILLS 768PX-----------------------------------------------//

	.skills {
		grid-template-columns: 1fr;
		gap: 20px;
		ul {
			list-style-position: inside;
		}
		.otherSkills {
			list-style-type: square;
			order: 3;
		}
		.tools {
			order: 2;
		}
		.skillIcons {
			grid-template-columns: repeat(4, 1fr);
		}
	}

	// PORTFOLIO 768PX-----------------------------------------------//
	.portfolio {
		grid-template-columns: 1fr;
	}
}

// MEDIA QUERY 550PX-----------------------------------------------//
@media (max-width: 550px) {
	.textSocialsContainer {
		flex-direction: column;
	}

	form {
		width: 100%;
		margin-top: 40px;
		padding-top: 30px;
		border-top: 3px solid $lightBlue;
	}
}
