$headingfont: 'Oswald', sans-serif;
$bodyfont: 'Rambla', sans-serif;

$black: #1c1c1c;
$white: #fff;
$lightGrey: #f0efef;
$darkBlue: #023047;
$lightBlue: #8ecae6;
$midBlue: #219ebc;
$orange: #fb8500;

@import 'setup';
@import 'general';
@import 'main';
@import 'mediaQueries';
