a,
abbr,
acronym,
address,
applet,
article,
aside,
audio,
b,
big,
blockquote,
body,
canvas,
caption,
center,
cite,
code,
dd,
del,
details,
dfn,
div,
dl,
dt,
em,
embed,
fieldset,
figcaption,
figure,
footer,
form,
h1,
h2,
h3,
h4,
h5,
h6,
header,
hgroup,
html,
i,
iframe,
img,
ins,
kbd,
label,
legend,
li,
mark,
menu,
nav,
object,
ol,
output,
p,
pre,
q,
ruby,
s,
samp,
section,
small,
span,
strike,
strong,
sub,
summary,
sup,
table,
tbody,
td,
tfoot,
th,
thead,
time,
tr,
tt,
u,
ul,
var,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:after,
blockquote:before,
q:after,
q:before {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input[type='search']::-webkit-search-cancel-button,
input[type='search']::-webkit-search-decoration,
input[type='search']::-webkit-search-results-button,
input[type='search']::-webkit-search-results-decoration {
  -webkit-appearance: none;
  -moz-appearance: none;
}

input[type='search'] {
  -webkit-appearance: none;
  -moz-appearance: none;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

textarea {
  overflow: auto;
  vertical-align: top;
  resize: vertical;
}

audio,
canvas,
video {
  display: inline-block;
  max-width: 100%;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden] {
  display: none;
}

html {
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

a:focus {
  outline: thin dotted;
}

a:active,
a:hover {
  outline: 0;
}

img {
  border: 0;
  -ms-interpolation-mode: bicubic;
}

figure {
  margin: 0;
}

form {
  margin: 0;
}

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

legend {
  border: 0;
  padding: 0;
  white-space: normal;
}

button,
input,
select,
textarea {
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
}

button,
input {
  line-height: normal;
}

button,
select {
  text-transform: none;
}

button,
html input[type='button'],
input[type='reset'],
input[type='submit'] {
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled],
html input[disabled] {
  cursor: default;
}

input[type='checkbox'],
input[type='radio'] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

input[type='search'] {
  -webkit-appearance: textfield;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

input[type='search']::-webkit-search-cancel-button,
input[type='search']::-webkit-search-decoration {
  -webkit-appearance: none;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

textarea {
  overflow: auto;
  vertical-align: top;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

button,
html,
input,
select,
textarea {
  color: #222;
}

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

img {
  vertical-align: middle;
}

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

textarea {
  resize: vertical;
}

.chromeframe {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.visuallyHidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0);
  overflow: hidden;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-size: 1.6rem;
  color: #1c1c1c;
}

a.skipLink {
  position: absolute;
  top: -1000px;
  left: -1000px;
  height: 1px;
  width: 1px;
  text-align: left;
  overflow: hidden;
}

a.skipLink:active,
a.skipLink:focus {
  left: 0;
  top: 0;
  width: auto;
  height: auto;
  overflow: visible;
  text-decoration: none;
  font-weight: 400;
  color: #fff;
  background: #6f6f6f;
  padding: 5px;
}

a:focus,
a:hover {
  -webkit-box-shadow: 4px 4px 0px #fb8500;
          box-shadow: 4px 4px 0px #fb8500;
}

.wrapper {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

h1,
h2,
h3,
h4,
nav,
span,
label,
.button {
  font-family: "Oswald", sans-serif;
  font-weight: 500;
  text-transform: uppercase;
}

p,
ul,
input,
textarea {
  font-family: "Rambla", sans-serif;
  font-weight: 400;
}

h1 {
  font-size: 5rem;
  font-weight: 500;
  padding-bottom: 15px;
}

h2 {
  font-size: 3rem;
  padding-bottom: 20px;
}

h3 {
  font-size: 2.6rem;
  font-weight: 400;
  color: #219ebc;
  padding-bottom: 20px;
  letter-spacing: 3px;
  text-shadow: 0px 1px 1px #fb8500;
}

h4 {
  font-size: 2.3rem;
  margin-bottom: 15px;
}

ul,
p {
  font-size: 1.8rem;
  line-height: 1.6;
}

a {
  text-decoration: none;
  color: inherit;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.bar {
  font-family: 'Rambla', sans-serif;
  color: #fb8500;
}

.button {
  background-color: #1c1c1c;
  color: #fff;
  margin-right: 10px;
  padding: 5px 20px;
  border-radius: 3px;
  text-transform: uppercase;
}

section {
  padding: 100px 0;
}

section:nth-child(2n) {
  background-color: #f0efef;
}

header {
  background-color: #8ecae6;
  background-image: url(../assets/doodlesbg.png);
  background-size: cover;
  background-position: center;
  height: 100vh;
  min-height: 600px;
}

header span {
  font-size: 3rem;
  font-weight: 500;
}

header h1 {
  padding: bottom;
}

header p {
  font-size: 2.5rem;
}

header a {
  padding-bottom: 5px;
}

header a:focus,
header a:hover {
  -webkit-box-shadow: none;
          box-shadow: none;
  border-bottom: 3px solid #fb8500;
}

.navBar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px 0;
}

.hamburger,
.hamburgerExit {
  display: none;
  font-size: 3rem;
  background-color: inherit;
  border: 0;
}

.display {
  display: block;
}

nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

nav ul li {
  padding: 5px 15px;
}

.hamburgerExit {
  top: 10px;
  background: transparent;
}

.sticky {
  position: fixed;
  top: 0;
  z-index: 999;
  width: 100%;
  background-color: #fff;
  -webkit-box-shadow: 0px 0px 2px #023047;
          box-shadow: 0px 0px 2px #023047;
}

.sticky + .headerTextContainer {
  margin-top: 60px;
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.show.menu {
  display: block;
}

.headerTextContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100%;
}

.imageContainer {
  height: 250px;
  width: 250px;
  margin-bottom: 25px;
}

.imageContainer img {
  border: 10px solid #219ebc;
  border-radius: 50%;
}

.typewriterText {
  display: inline;
  padding-bottom: 100px;
  text-transform: lowercase;
}

/* The typing effect */
@-webkit-keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}
@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

.typing {
  overflow: hidden;
  /* Ensures the content is not revealed until the animation */
  white-space: nowrap;
  /* Keeps the content on a single line */
  margin: 0 auto;
  /* Gives that scrolling effect as the typing happens */
  -webkit-animation: typing 2s steps(30, end);
          animation: typing 2s steps(30, end);
}

.isHidden {
  display: none;
}

.typewriter {
  display: inline;
  text-transform: lowercase;
  padding-bottom: 100px;
}

.scrollChevron {
  text-align: center;
  font-size: 4rem;
  --animate-duration: 3s;
}

.aboutImageContainer {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 2fr;
      grid-template-columns: 1fr 2fr;
  gap: 30px;
}

.summary {
  padding-top: 10px;
}

.summary p:nth-child(3n) {
  margin-bottom: 15px;
}

.summary div {
  margin-bottom: 20px;
}

.aboutButtons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.aboutButtons li:first-child {
  margin-right: 10px;
}

.highlight {
  background: -webkit-gradient(linear, left bottom, left top, color-stop(50%, #fb8500), color-stop(50%, transparent));
  background: linear-gradient(to top, #fb8500 50%, transparent 50%);
  font-weight: 700;
  padding-bottom: 0;
}

.skillsBg {
  background-color: #f0efef;
}

.skills {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  gap: 40px 90px;
}

.skills .otherSkills {
  list-style-type: square;
}

.tools {
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-column: 1/4;
}

.tools h4 {
  margin-bottom: 30px;
}

.skillIcons {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  gap: 20px 50px;
  color: #1c1c1c;
  font-size: clamp(4rem, 5vw, 5rem);
}

.skillIcons li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-transform: uppercase;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.skillIcons li i {
  padding-bottom: 10px;
  height: 50px;
  text-shadow: 1px 1px 0px #fb8500;
}

.portfolio {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  -webkit-column-gap: 25px;
          column-gap: 25px;
  row-gap: 15px;
}

.portfolio img {
  border: 2px solid #8ecae6;
}

.portfolioItemContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.portfolioItem {
  position: relative;
  height: 100%;
}

.overlay {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: absolute;
  bottom: 100%;
  left: 0;
  right: 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #219ebc;
  height: 0%;
  width: 100%;
  overflow: hidden;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}

body.hasHover .portfolioItem:hover .overlay {
  bottom: 0;
  height: 100%;
}

.portfolioInformation {
  position: absolute;
  top: 30%;
  margin: 0 auto;
  color: #fff;
  padding: 20px;
  text-align: center;
}

.portfolioInformation div {
  margin-bottom: 30px;
}

.portfolioInformation p {
  font-size: 1.9rem;
}

.portfolioDetailsText {
  margin: 20px 0px 30px 0px;
}

.portfolioDetailsText h3 {
  padding: 5px 0px 10px;
}

.portfolioDetailsText div {
  margin-bottom: 15px;
}

.portfolioDetailsText p:nth-child(2n) {
  font-weight: 700;
  font-size: 2rem;
}

.portfolioDetailsText p:nth-child(3n) {
  padding-bottom: 15px;
}

.portfolioDetailsText p > a:hover,
.portfolioDetailsText p > a:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
  border-bottom: 3px solid #fb8500;
}

.textSocialsContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.textContainer {
  width: 55%;
}

.textContainer p {
  padding-right: 30px;
}

.contactText p:nth-child(2) {
  margin-bottom: 20px;
}

.helloContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 20px;
}

.helloContainer img {
  width: 100px;
  position: relative;
  top: -15px;
  left: -10px;
  -webkit-transform: rotate(5deg);
          transform: rotate(5deg);
}

.helloContainer highlight {
  margin: 0;
}

.textContainer {
  padding-right: 15px;
}

.textContainer p:nth-child(2n) {
  margin-bottom: 15px;
}

form {
  width: 45%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

form input,
form textarea {
  border: 1px solid #8ecae6;
  padding: 5px;
}

form label {
  font-size: 1.9rem;
  margin: 15px 0 5px;
}

form label:first-child {
  margin-top: 0;
}

form .button {
  margin-top: 15px;
  width: 125px;
  border: 0px;
}

form textarea {
  resize: none;
}

footer {
  background-color: #219ebc;
  color: #fff;
  padding: 20px 0;
  text-transform: uppercase;
}

footer h2 {
  padding: 0;
}

.footerContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 30%;
}

@media (max-width: 768px) {
  section {
    padding: 70px 0;
  }
  header a:focus,
  header a:hover {
    border-bottom: none;
  }
  .menu {
    display: none;
  }
  .menu .menuScreen {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    position: fixed;
    top: 0;
    left: 55vw;
    right: 0;
    height: auto;
    background: #023047;
    color: #fff;
    padding-bottom: 20px;
    z-index: 10;
  }
  .hamburger,
  .hamburgerExit {
    display: block;
  }
  .hamburgerExit {
    -ms-flex-item-align: end;
        align-self: flex-end;
  }
  .hamburgerExit {
    position: relative;
    right: 5vw;
    color: #fff;
    margin-bottom: 10px;
  }
  .menuScreen {
    height: auto;
  }
  .menuScreen ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .menu li:hover {
    background-color: #219ebc;
  }
  .menu a {
    display: block;
    font-size: 20px;
    width: 100%;
  }
  .aboutImageContainer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .summary div {
    margin-bottom: 30px;
  }
  .skills {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    gap: 30px 0px;
  }
  .skills ul {
    list-style-position: inside;
  }
  .skills .otherSkills {
    list-style-type: square;
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
  }
  .skills .tools {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
  .skills .tools h4 {
    margin-bottom: 35px;
  }
  .portfolio {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    row-gap: 50px;
  }
  .portfolioDetailsText h3 {
    padding-top: 10px;
  }
}

@media (max-width: 550px) {
  .textSocialsContainer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .textContainer {
    width: 100%;
  }
  .textContainer p {
    padding-right: 0px;
  }
  form {
    width: 100%;
    margin-top: 40px;
    padding-top: 30px;
    border-top: 3px solid #8ecae6;
  }
}
